# {{ ansible_managed }}

{# Set up machine #}
{% for machine in shell_git %}
[user]
{% if machine.shell_git_email is defined %}
	email = {{ machine.shell_git_email }}
{% endif %}
{% if machine.shell_git_name is defined %}
	name = {{ machine.shell_git_name }}
{% endif %}
[core]
#	autocrlf = input
{% if machine.shell_git_editor is defined %}
	editor = {{ machine.shell_git_editor }}
{% endif %}
[credential]
	helper = cache --timeout=86400
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	pl = pull —rebase
	di = diff --ignore-space-at-eol -b -w
	lo = log --graph
	unstage = reset HEAD --
	last = log -1 HEAD
[help]
	autocorrect = 1
[color]
	ui = auto
#[branch "master"]
#	rebase = true
#[branch]
#	autosetuprebase = always
[diff "xls"]
    binary = true
    textconv = /usr/bin/py_xls2txt
#    textconv = /usr/bin/xls2csv
[diff "pdf"]
    binary = true
    textconv = /usr/bin/pdf2txt
[diff "doc"]
    binary = true
    textconv = /usr/bin/catdoc
[diff "docx"]
    binary = true
    textconv = /usr/bin/docx2txt
[diff "odt"]
    binary = true    
    textconv = odt2txt
[diff "ppt"]
    binary = true    
    textconv = /usr/bin/catppt
[diff "zip"]
    textconv = unzip -c -a
{% if machine.shell_git_meld_enabled %}
[merge]
    tool = meld
[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    #cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"    
[diff]
#	external = /usr/local/bin/git-diff.sh    
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"	
{% endif %}
[maven-scm]
    maildomain = free.fr
    forceUsername = true	
[http]
    sslverify = false
{% endfor %}
