<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- the log configuration file for the AndroMDA project -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
    
    <!-- ============================================
          Append error messages to a local error log
         ============================================ -->
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="{{LOG4J_SERVER_FILE}}"/>
        <!-- Added HHmm so that new file with minute timestamp is created on each MDA run -->
        <param name="DatePattern" value="MMdd-HH"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="{{LOG4J_SERVER_PATTERN}}"/>
        </layout>
    </appender>

    <!-- ================================
          Append messages to the console
         ================================ -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="{{LOG4J_SERVER_PATTERN}}"/>
        </layout>
    </appender>

    <!-- ================================
          Append messages to a socket
         ================================ -->
   <appender name="SOCKETSERV" class="org.apache.log4j.net.SocketAppender">
      <param name="Port" value="{{LOG4J_SERVER_PORT}}"/>
      <param name="RemoteHost" value="{{LOG4J_SERVER_HOST}}"/>
      <param name="ReconnectionDelay" value="100000"/>
      <param name="Threshold" value="DEBUG"/>
      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="{{LOG4J_SERVER_PATTERN}}"/>
      </layout>
   </appender>
   
    <!-- ==================
          Limit categories
         ================== -->

    <category name="org.apache">
        <priority value="WARN" />
    </category>

    <category name="org.apache.cxf">
        <priority value="DEBUG" />
    </category>

    <category name="org.springframework">
        <priority value="DEBUG" />
    </category>

    <category name="org.eclipse">
        <priority value="DEBUG" />
    </category>

    <category name="de.plushnikov.doctorjim">
        <priority value="ERROR" />
    </category>
   
    <category name="org.andromda">
        <priority value="ERROR" />
    </category>

    <category name="org.andromda.core">
        <priority value="DEBUG" />
    </category>

    <category name="org.andromda.cartridges">
        <priority value="DEBUG" />
    </category>

    <!--
    <category name="org.andromda.metafacades">
        <priority value="INFO" />
    </category>
    -->
    
    <!-- this produce a lot of output in debug mode -->
    <category name="org.andromda.namespaces">
        <priority value="INFO" />
    </category>
    
    <category name="org.andromda.utils.beautifier.core.JavaImportBeautifierImpl">
        <priority value="ERROR" />
    </category>
    
    <category name="org.andromda.core.configuration">
        <priority value="INFO" />
    </category>

    <category name="org.andromda.namespaces.webservice">
        <priority value="DEBUG" />
    </category>

    <!--category name="org.andromda.namespaces.java">
        <priority value="DEBUG" />
    </category-->

    <category name="org.andromda.cartridges.webservice">
        <priority value="DEBUG" />
    </category>

    <category name="org.andromda.cartridges.java">
        <priority value="DEBUG" />
    </category>

    <category name="org.andromda.templateengines">
        <priority value="INFO" />
    </category>

    <category name="org.andromda.translation">
        <priority value="INFO" />
    </category>

    <category name="org.andromda.cartridges.gui">
        <priority value="DEBUG" />
    </category>        
    
    <!-- =========================
          Setup the Root category
         ========================= -->
    <root>
        <priority value="DEBUG" />
        <!-- To log all messages uncomment the appender CONSOLE -->
        <appender-ref ref="CONSOLE"/>
        <!-- To log debug messages only, uncomment the following appender -->
        <appender-ref ref="FILE"/>
        <!-- To log on chainsaw, uncomment the following appender -->
        <appender-ref ref="SOCKETSERV"/>
    </root>

</log4j:configuration>
